<header class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark nav-fixed">
        <a class="navbar-brand" href="/">Hotrod Scraper</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/saved">Saved Articles</a>
                </li>
                <li>
                    <button class="btn btn-primary btn-sm" type="button" id="scrape">Scrape New Articles</button>
                </li>
                <li>
                    <button class="btn btn-primary btn-sm" type="button" id="clear">Clear Articles</button>
                </li>
            </ul>
        </div>
    </nav>
</header>
<main class="container-fluid">
    <div class="jumbotron jumbotron-fluid">
        <div class="container centered">
            <h1 class="display-4">Hotrodders</h1>
            <p class="lead">Click "Scrape New Articles" to see the latest articles</p>
        </div>
    </div>
    <div class="container" id="articles">
        {{#each Article}}
            <div class="article">
                <h4>{{this.title}}</h4>
                <h6>{{this.author}}</h6>
                <p>{{this.excerpt}}</p>
                <p><a href="{{this.link}}" target="_blank">{{this.link}}</a></p>
                <button type="button" class="btn btn-primary btn-save" data-id="{{this._id}}">Save article</button>
            </div>
        {{/each}}

    </div>
</main>